spring:
  datasource:
    url: ${POSTGRES_URL_DEV}
    username: ${APP_DB_USER_DEV}
    password: ${APP_DB_PASSWORD_DEV}
  data:
    redis:
      host: localhost
      port: 6379
      username: default
      password: gymhealthtech
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 20
          max-idle: 10
          min-idle: 5
          max-wait: 2000ms
