spring:
  application:
    name: gym-health-tech
  datasource:
    url: jdbc:postgresql://localhost:${POSTGRES_PORT:5432}/${POSTGRES_DB:gymhealthtech}
    username: ${APP_DB_USER:postgres}
    password: ${APP_DB_PASSWORD:root}
    jpa:
      hibernate:
        ddl-auto: validate
      properties:
        hibernate.jdbc.time_zone: UTC
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
